<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>Sugar-Free Chat!: login</title>
  </head>
  <body>
    {% if flash.error %}
      <hr>
      <b>{{ flash.error }}</b>
      <hr>
    {% endif %}

    {% if user %}
      <form method="post">
        <input name="_method" type="hidden" value="DELETE"/>
        <p>{{ user.name }}さん、こんにちは！
          <a href="javascript:" onClick='forms[0].submit()'>ログアウト</a>
        </p>
      </form>
      <hr />
      <div>
        <h2>サイト とっぷ HERE!</h2>
      </div>
      <hr />
      <p>チャットルーム一覧（仮）</p>
      <ul>
        <li><a href="/chat/room1">チャットルーム１</a></li>
        <li><a href="/chat/room2">チャットルーム2</a></li>
        <li><a href="/chat/hogehoge">hogehoge</a></li>
      </ul>
    {% else %}
      <p>ログインしてください</p>
      <form method="post">
        <fieldset>
          <legend>ログイン</legend>
          <p>
            <label for="user[name]">ユーザ名：</label>
            <input type="text" name="user[name]" />
          </p>
          <p>
            <label for="user[pwd]">パスワード：</label>
            <input type="password" name="user[pwd]" />
          </p>
          <input type="submit">
        </fieldset>
      </form>
    {% endif %}
  </body>
</html>
